.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
    color: white;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
}

.botones{
    background: white;
    color: brown;
    text-align: center;
    font-size: 17px;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
    width: 100%;
}